h1{
    font-size: 5rem;
}


.box{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D88AE;
    margin: 10px;
}

.fizz{
    background-color: #61D2A4;
}


.fuzz{
    background-color: #F9D277;
}

.fizzfuzz{
    background-color: #DE5471;
}
